version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8082:8080"
    volumes:
      - jenkins_data:/var/jenkins_home

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions

  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8081:8081"
    volumes:
      - nexus_data:/nexus-data

  tomcat:
    image: tomcat:9.0
    container_name: tomcat
    restart: unless-stopped
    ports:
      - "8083:8080"
    volumes:
      - tomcat_data:/usr/local/tomcat

volumes:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  nexus_data:
  tomcat_data:
