version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8082:8080"
    volumes:
      - jenkins_data:/var/jenkins_home

volumes:
  jenkins_data:
